.sider {
  height: 100vh;
  background: #f0f3f5;

  .logo {
    height: 48px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 24px;

    img {
      height: 48px;
    }
  }

  .collapBox {
    position: fixed;
    bottom: 0;
    z-index: 1;
    cursor: pointer;

    .collap {
      z-index: 3;
      height: 48px;
      margin: 16px;
      line-height: 48px;
      color: #fff;
      text-align: center;
      background: rgba(223, 230, 235, 1);
      border-radius: 4px;
      transition: all 0.2s;
    }
  }
}

:global {
  //sider-menu
  .ant-layout-sider {
    overflow: hidden;

    //vertical
    .ant-menu.ant-menu-vertical {
      & > .ant-menu-item {
        width: 48px;
        height: 48px;
        padding: 0 10px !important;
        margin: 0 16px;
        line-height: 48px;
        text-align: center;

        a span {
          display: none;
        }
      }

      .ant-menu-submenu {
        width: 48px;
        height: 48px;
        padding: 0 10px !important;
        margin: 0 16px;
        line-height: 48px;
        text-align: center;

        .ant-menu-submenu-title {
          height: 48px;
          padding: 0 !important;
          line-height: 48px;
        }
      }

      .ant-menu-submenu-selected {
        width: 48px;
        margin-left: 16px;
        background-color: #dfe6eb;
        border-radius: 3px;
      }
    }

    //inline
    .ant-menu.ant-menu-inline {
      width: 192px !important;
      margin-left: 24px;

      > .ant-menu-item {
        height: 48px;
        padding-right: 0 !important;
        padding-left: 4px !important;
        margin-top: 0;
        line-height: 48px;
        border-radius: 4px;

        a span {
          vertical-align: middle;
        }

        &::after {
          border-right: none;
        }

        &.ant-menu-item-selected {
          &::after {
            border-right: none !important;
          }

          &::before {
            position: absolute;
            top: 12px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 24px;
            content: '';
            border-left: 2px solid #f52d29;
          }
        }

        & .ant-menu-item-selected {
          a {
            color: #0f0f0f !important;
          }

          &:hover {
            a {
              color: #0f0f0f !important;
            }
          }
        }

        a {
          color: #0f0f0f !important;
        }

        &:hover {
          background: #dfe6eb !important;

          a {
            color: #0f0f0f !important;
          }
        }
      }

      > .ant-menu-submenu {
        .ant-menu-item {
          padding-left: 48px !important;
          margin-left: -24px;

          a {
            color: #6f6f6f !important;
          }
        }

        &ul {
          width: 192px !important;
        }

        & .ant-menu-item-selected {
          a {
            color: #0f0f0f !important;
          }

          &:hover {
            a {
              color: #0f0f0f !important;
            }
          }

          &::before {
            position: absolute;
            top: 12px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 24px;
            content: '';
            border-left: 2px solid #f52d29;
          }
        }

        .ant-menu-submenu-title {
          padding-left: 4px !important;
          color: #0f0f0f;

          span span {
            vertical-align: middle;
          }
        }

        .ant-menu-submenu-title:hover {
          color: #0f0f0f;

          .ant-menu-submenu-arrow {
            color: #121418;

            &::before,
            &::after {
              background: linear-gradient(to right, #121418, #121418);
            }
          }
        }
      }
    }
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #dfe6eb !important;
  }

  .ant-layout-sider .ant-menu-vertical > .ant-menu-item {
    border-radius: 3px;
  }
  // vertical submenu
  .ant-menu-submenu.ant-menu-submenu-popup {
    & > .ant-menu-vertical {
      // display: block;
      margin-left: 30px;

      .ant-menu-item {
        height: 56px;
        padding: 0;
        margin: 0;
        line-height: 56px;
        border-radius: 3px;

        a {
          padding-left: 24px;
          color: #0f0f0f;
        }

        &.ant-menu-item-selected {
          > a {
            font-size: 14px;
            font-weight: 400;
            color: #0f0f0f;
          }

          &::before {
            position: absolute;
            top: 16px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 24px;
            content: '';
            border-left: 2px solid #f52d29;
          }
        }

        &.ant-menu-item-active {
          > a {
            font-size: 14px;
            font-weight: 400;
            color: #0f0f0f;
            background: #dfe6eb !important;
          }
        }
      }
    }
  }
  // vertical menu
  .ant-tooltip {
    left: 80px !important;
    // display: block;

    .ant-tooltip-arrow::before {
      display: none;
    }

    .ant-tooltip-inner {
      width: 160px !important;
      height: 56px;
      padding: 0;
      line-height: 56px;
      background: #f0f3f5;
      background-color: #fff;

      a {
        margin-left: 24px;
        color: #0f0f0f;

        img {
          display: none;
        }
      }
    }
  }
}
