.firstRow {
  margin-top: 16px;
  margin-bottom: 24px;
}

.item {
  width: 176px;
  height: 144px;
  margin-right: 24px;
  text-align: center;
  background: rgba(242, 247, 255, 1);
  border-radius: 4px;

  .icon {
    width: 32px;
    margin-top: 16px;
  }

  .number {
    height: 28px;
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(15, 15, 15, 1);
  }

  .desc {
    width: 128px;
    height: 16px;
    margin-top: 6px;
    margin-left: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
  }

  .help {
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.bgOrange {
  background: rgba(255, 245, 245, 1);
}

.bgGreen {
  background: rgba(42, 197, 212, 0.08);
}

.download {
  &:hover {
    cursor: pointer;
  }

  .downloadtitle {
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(245, 45, 41, 1);
  }
}
